.app {
  display: flex;
  justify-content: center;
  height: 100vh;
  min-width: 100vw;
}

.chooseChat {
  width: 70%;
  color: #41525d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #f0f2f5;
}
